<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% endblock %}
</head>
<body>
    <header>
        {% block pagename %}<h1>Главная страница</h1> {% endblock %}
    </header>

    <nav>
        <br><a href=""><h2>Главная</h2></a>
        <br><a href="tea"><h2>Магазин</h2></a>
        <br><a href="cart"><h2>Корзина</h2></a>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>

</body>
</html>
